<% provide(:title, 'テスト') %>
<p>インフォテスト</p>
<div class="gray-flame" style="margin:500px 15px 300px">
  <p>LINEアカウントを利用してログインします。</p>
  <hr>
  <p>
    本WEBサービスでは、ログイン時の認証画面にて許可を頂いた場合のみ、<br>
    あなたのLINEアカウントに登録されているメールアドレスを取得します。<br>
    取得したメールアドレスは、以下の目的以外ではしよういたしません。<br>
    また、法令に定められた場合を除き、第三者への提供はいたしません。
  </p>
  <hr>
  <p style="margin-bottom:50px;">
    ユーザーIDとしてアカウントの管理に利用<br>
    退会時、問い合わせ時などの連絡の為に利用
  </p>

  <div style="margin:0 0 0 200px;">
    <%= image_tag 'btn_login_base.png'%>
    <span style="color: #FFF; position:relative; top:3px; right:76px; font-weight: 600;">ログイン</span>
  </div>
  
</div>