@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  color: #666666;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #222222;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* nav */
nav{
  ul{
    li{
      a{
        color: #999999;
      }
    }
  }
}

nav{
  ul{
    li{
      a:hover{
        color: #DF0623;
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #DF0623;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #F94C66;
  text-decoration: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* ユーザー新規登録フォーム */

.label-signup {
  margin-top: 10px;
}

.btn-signup {
  margin-top: 30px;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* ログインフォーム */

.label-login {
  margin-top: 10px;
}

.btn-login {
  margin-top: 30px;
}

.ash-link{
  color: #666666;
}

.ash-link:hover{
  color: #999999;
}

/* ログインと新規作成フォームのパネルボディpadding */

.form-padding-50 {
    padding: 50px;
}

/* ラインログインスクショ用（あとで削除） */
.gray-flame{
  // background-color: #dcdcdc;
  background-color: #f5f5f5;
  padding: 50px;
}

/* カレンダー２のスタイル */
#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}
